* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    line-height: 1.6;
    background-color: #656464;
    color: #333;
}

img {
    border: 1px solid #f6f6f6;
    border-radius: 100px;
    display: block;
    margin: 2rem auto;
    object-fit: cover;
    padding: 6px;
}