<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arquivos Estáticos com Experess</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <h1>Arquivos Estáticos com Express</h1>
    <p>Este é um exemplo de como servir arquivos estáticos usando Express.</p>
    <button id="teste">Clique aqui</button>
    <script src="/assets/script.js"></script>
  </body>
</html>
